body {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#personal-data {
    display: flex;
    flex-wrap: wrap;
}

#personal-data div {
    margin: 0.5em;
}

.resume-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.section {
    margin-left: 2em;
    margin-right: 2em;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.checked {
    color: orange;
}